<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="padding"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, adipisci. Nemo sit alias eveniet nihil repudiandae laborum vel minus maxime rem totam veritatis officiis molestias enim, maiores id eaque unde.</p>
    <p>Enim quisquam illo id, nisi necessitatibus aperiam, laborum provident distinctio. Nesciunt ipsum, earum tenetur quod rerum, sunt mollitia nihil aut perferendis omnis quis modi officiis magni veritatis optio, sed at.</p>
    <p>Aperiam amet natus excepturi quia laboriosam delectus! Facilis optio culpa necessitatibus maiores doloribus ipsam pariatur temporibus expedita perspiciatis accusamus, dolores reiciendis dolorum magni voluptate debitis nobis in excepturi consequuntur voluptas.</p>
    <p>Et, assumenda corporis labore sed itaque id provident harum recusandae cupiditate deleniti repellat minima, ea? Dolor quo eaque perspiciatis, pariatur, modi dolores ipsa necessitatibus, cumque cupiditate neque velit error possimus.</p>
    <p>Optio eligendi modi inventore culpa, illo maiores ducimus nemo vel deleniti, perferendis eos alias, ipsum cum nesciunt sapiente quisquam. Sit error doloremque quidem obcaecati aliquid magnam, labore aliquam alias sapiente?</p>
	</div>
  </ion-content>
</ion-view>